#container {
    position: absolute;
    width: 100vw;
    max-height: 20vw;
    left: 50%;
    bottom: 6vh;
    transform: translateX(-50%);
    z-index: 10;  
    text-align: center;
    pointer-events:none;
    overflow-x: scroll;
    white-space: nowrap;
  }
  #container::-webkit-scrollbar {
    display: none;
  }
  /* .carousel {
    padding: 1.5rem;
    border: 0.3rem solid white;
    margin: 0.5rem;
    border-radius: 50%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    pointer-events:auto;
  } */

  .btn {
    border: none;
    background-color: inherit;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }  

  .btn:focus {
    box-shadow: 0px 0px 0px 0.3rem white;
    outline: none !important;
  }