/* #container {
    position: absolute;
    width: 100vw;
    max-height: 20vw;
    left: 50%;
    bottom: 6vh;
    transform: translateX(-50%);
    z-index: 10;  
    text-align: center;
    pointer-events:none;
    overflow-x: scroll;
    white-space: nowrap;
  }
  #container::-webkit-scrollbar {
    display: none;
  }
  /* .carousel {
    padding: 1.5rem;
    border: 0.3rem solid white;
    margin: 0.5rem;
    border-radius: 50%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    pointer-events:auto;
  } */

  /* .btn {
    border: none;
    background-color: inherit;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }  

  .btn:focus {
    box-shadow: 0px 0px 0px 0.3rem white;
    outline: none !important;
  } */ 

  .prompt {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 25vh;
    
    font-family: Menlo, monospace;
    text-shadow: 3px 3px #ad50ff;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 8vw;
    color: white;
    
    pointer-events: none;
    z-index: 10;
  }
  h2 {
    position: absolute;
    text-align: center;
    width: 100vw;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
    font-family: Menlo, monospace;
    text-shadow: 2.5px 2.5px #007aff;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 4.5vw;
    color: white;
    
    z-index: 2;
  }